:root {
  --main-color: #1f1d1f;
  --light-color: #d1d1d1;
}

body {
  background-color: var(--main-color);
}

h1 {
  margin: 0 0 1rem 0;
  color: var(--light-color);
}

a {
  color: var(--light-color);
}
a:hover {
  color: rgb(57, 57, 223);
}

button {
  font-size: 1.5rem;
  margin-right: 1rem;
  background-color: var(--light-color);
  color: var(--main-color)
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.board {
  max-height: 100%;
  background-color: var(--main-color);
  margin-bottom: 1rem;
  gap: 1px;
}

.row {
  display: flex;
  gap: 1px;
}

.cell {
  background-color: var(--light-color);
  width: 20px;
  height: 20px;
}

.active {
  background-color: var(--main-color);
}
