body {
  background-color: #f9f0f2;
  color: #333333  ;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.board {
  background-color: #333333;
  border: 1px solid #333333;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  gap: 1px;
}

.cell {
  background-color: #e6e6e6;
  max-width: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
}

.active {
  background-color: #48534b;
}